<ul>
  <li>
      <input id="cfirst" type="checkbox" name="first" checked hidden />
      <label for="cfirst">Checked checkbox</label>
  </li>
  <li>
      <input id="csecond" type="checkbox" name="second" hidden />
      <label for="csecond">Unchecked checkbox</label>
  </li>
  <li>
      <input id="cthird" type="checkbox" name="third" hidden disabled />
      <label for="cthird">Disabled checkbox</label>
  </li>
  <li>
      <input id="clast" type="checkbox" name="last" checked hidden disabled />
      <label for="clast">Disabled checked checkbox</label>
  </li>
</ul>
<ul>
  <li>
      <input id="rfirst" type="radio" name="radio" checked hidden />
      <label for="rfirst">Checked radio</label>
  </li>
  <li>
      <input id="rsecond" type="radio" name="radio" hidden />
      <label for="rsecond">Unchecked radio</label>
  </li>
  <li>
      <input id="rthird" type="radio" name="radio" hidden disabled />
      <label for="rthird">Disabled radio</label>
  </li>
</ul>



<router-outlet></router-outlet>